<body>
  <div class="container">
    <div class="photo-gallery">
      <div class="item1">
        <img src="../../assets/Jeff.jpg" class="gallery_img" alt="">
      </div>
      <div class="item2">
        <img src="../../assets/Marissa.jpg" class="gallery_img" alt="">
      </div>
      <div class="item3">
        <img src="../../assets/Mark.jpg" class="gallery_img" alt="">
      </div>
      <div class="item4">
        <img src="../../assets/satya.jpg" class="gallery_img" alt="">
      </div>
      <div class="item5">
        <img src="../../assets/sundhar.jpg" class="gallery_img" alt="">
      </div>
      <div class="item6">
        <img src="../../assets/Tim.jpg" class="gallery_img" alt="">
      </div>

    </div>
  </div>
</body>
